footer {
    background: #0e0e0e;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;    
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

footer__copyright {
    margin-bottom: 3rem;
    color: #55534c;
}